.root {
  position: relative;
  display: grid;
  width: 100%;
  gap: calc(var(--spacing, 0.25rem) * 0.5);
  border-radius: var(--radius);
  border-style: var(--tw-border-style);
  border-width: 1px;
  padding-inline: calc(var(--spacing, 0.25rem) * 2.5);
  padding-block: calc(var(--spacing, 0.25rem) * 2);
  text-align: left;
  font-size: var(--text-sm, 0.875rem);
  line-height: var(--tw-leading, var(--text-sm--line-height, calc(1.25 / 0.875)));
  &:has(*[data-slot="alert-action"]) {
    position: relative;
  }
  &:has(*[data-slot="alert-action"]) {
    padding-right: calc(var(--spacing, 0.25rem) * 18);
  }
  &:has(>svg) {
    grid-template-columns: auto 1fr;
  }
  &:has(>svg) {
    column-gap: calc(var(--spacing, 0.25rem) * 2);
  }
  :is(& > *) {
    &:is(svg) {
      grid-row: span 2 / span 2;
    }
  }
  :is(& > *) {
    &:is(svg) {
      --tw-translate-y: calc(var(--spacing, 0.25rem) * 0.5);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
  }
  :is(& > *) {
    &:is(svg) {
      color: currentcolor;
    }
  }
  :is(& > *) {
    &:is(svg:not([class*='size-'])) {
      width: calc(var(--spacing, 0.25rem) * 4);
      height: calc(var(--spacing, 0.25rem) * 4);
    }
  }
}
.default {
  background-color: var(--card);
  color: var(--card-foreground);
}
.destructive {
  background-color: var(--card);
  color: var(--destructive);
  :is(& > *) {
    &[data-slot="alert-description"] {
      color: var(--destructive);
      @supports (color: color-mix(in lab, red, red)) {
        color: color-mix(in oklab, var(--destructive) 90%, transparent);
      }
    }
  }
  :is(& > *) {
    &:is(svg) {
      color: currentcolor;
    }
  }
}
.style1 {
  --tw-font-weight: var(--font-weight-medium, 500);
  font-weight: var(--font-weight-medium, 500);
  &:is(:where(.group\/alert):has(>svg) *) {
    grid-column-start: 2;
  }
  & a {
    text-decoration-line: underline;
  }
  & a {
    text-underline-offset: 3px;
  }
  & a {
    &:hover {
      @media (hover: hover) {
        color: var(--foreground);
      }
    }
  }
}
.style2 {
  font-size: var(--text-sm, 0.875rem);
  line-height: var(--tw-leading, var(--text-sm--line-height, calc(1.25 / 0.875)));
  text-wrap: balance;
  color: var(--muted-foreground);
  @media (width >= 48rem) {
    text-wrap: pretty;
  }
  & a {
    text-decoration-line: underline;
  }
  & a {
    text-underline-offset: 3px;
  }
  & a {
    &:hover {
      @media (hover: hover) {
        color: var(--foreground);
      }
    }
  }
  & p:not(:last-child) {
    margin-bottom: calc(var(--spacing, 0.25rem) * 4);
  }
}
.style3 {
  position: absolute;
  top: calc(var(--spacing, 0.25rem) * 2);
  right: calc(var(--spacing, 0.25rem) * 2);
}
@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}
@property --tw-translate-x {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}
@property --tw-translate-y {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}
@property --tw-translate-z {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}
@property --tw-font-weight {
  syntax: "*";
  inherits: false;
}
