.style1 {
  display: flex;
  flex-direction: column;
  gap: var(--card-spacing);
  overflow: hidden;
  border-radius: calc(var(--radius) * 1.4);
  background-color: var(--card);
  padding-block: var(--card-spacing);
  font-size: var(--text-sm, 0.875rem);
  line-height: var(--tw-leading, var(--text-sm--line-height, calc(1.25 / 0.875)));
  color: var(--card-foreground);
  --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  --tw-ring-color: var(--foreground);
  @supports (color: color-mix(in lab, red, red)) {
    --tw-ring-color: color-mix(in oklab, var(--foreground) 10%, transparent);
  }
  --card-spacing: calc(var(--spacing, 0.25rem) * 4);
  &:has(*[data-slot="card-footer"]) {
    padding-bottom: 0px;
  }
  &:has(>img:first-child) {
    padding-top: 0px;
  }
  &[data-size="sm"] {
    --card-spacing: calc(var(--spacing, 0.25rem) * 3);
  }
  &[data-size="sm"] {
    &:has(*[data-slot="card-footer"]) {
      padding-bottom: 0px;
    }
  }
  :is(& > *) {
    &:is(img:first-child) {
      border-top-left-radius: calc(var(--radius) * 1.4);
      border-top-right-radius: calc(var(--radius) * 1.4);
    }
  }
  :is(& > *) {
    &:is(img:last-child) {
      border-bottom-right-radius: calc(var(--radius) * 1.4);
      border-bottom-left-radius: calc(var(--radius) * 1.4);
    }
  }
}
.style2 {
  container-type: inline-size;
  container-name: card-header;
  display: grid;
  grid-auto-rows: min-content;
  align-items: flex-start;
  gap: var(--spacing, 0.25rem);
  border-top-left-radius: calc(var(--radius) * 1.4);
  border-top-right-radius: calc(var(--radius) * 1.4);
  padding-inline: var(--card-spacing);
  &:has(*[data-slot="card-action"]) {
    grid-template-columns: 1fr auto;
  }
  &:has(*[data-slot="card-description"]) {
    grid-template-rows: auto auto;
  }
  &:is(.border-b) {
    padding-bottom: var(--card-spacing);
  }
}
.style3 {
  font-family: var(--font-sans);
  font-size: var(--text-base, 1rem);
  line-height: var(--tw-leading, var(--text-base--line-height, calc(1.5 / 1)));
  --tw-leading: var(--leading-snug, 1.375);
  line-height: var(--leading-snug, 1.375);
  --tw-font-weight: var(--font-weight-medium, 500);
  font-weight: var(--font-weight-medium, 500);
  &:is(:where(.group\/card)[data-size="sm"] *) {
    font-size: var(--text-sm, 0.875rem);
    line-height: var(--tw-leading, var(--text-sm--line-height, calc(1.25 / 0.875)));
  }
}
.style4 {
  font-size: var(--text-sm, 0.875rem);
  line-height: var(--tw-leading, var(--text-sm--line-height, calc(1.25 / 0.875)));
  color: var(--muted-foreground);
}
.style5 {
  grid-column-start: 2;
  grid-row: span 2 / span 2;
  grid-row-start: 1;
  align-self: flex-start;
  justify-self: flex-end;
}
.style6 {
  padding-inline: var(--card-spacing);
}
.style7 {
  display: flex;
  align-items: center;
  border-bottom-right-radius: calc(var(--radius) * 1.4);
  border-bottom-left-radius: calc(var(--radius) * 1.4);
  border-top-style: var(--tw-border-style);
  border-top-width: 1px;
  background-color: var(--muted);
  @supports (color: color-mix(in lab, red, red)) {
    background-color: color-mix(in oklab, var(--muted) 50%, transparent);
  }
  padding: var(--card-spacing);
}
@property --tw-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@property --tw-shadow-color {
  syntax: "*";
  inherits: false;
}
@property --tw-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}
@property --tw-inset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@property --tw-inset-shadow-color {
  syntax: "*";
  inherits: false;
}
@property --tw-inset-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}
@property --tw-ring-color {
  syntax: "*";
  inherits: false;
}
@property --tw-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@property --tw-inset-ring-color {
  syntax: "*";
  inherits: false;
}
@property --tw-inset-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@property --tw-ring-inset {
  syntax: "*";
  inherits: false;
}
@property --tw-ring-offset-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}
@property --tw-ring-offset-color {
  syntax: "*";
  inherits: false;
  initial-value: #fff;
}
@property --tw-ring-offset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@property --tw-leading {
  syntax: "*";
  inherits: false;
}
@property --tw-font-weight {
  syntax: "*";
  inherits: false;
}
@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}
