.style1 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  border-radius: calc(var(--radius) * 1.4) !important;
  background-color: var(--popover);
  padding: var(--spacing, 0.25rem);
  color: var(--popover-foreground);
}
.style2 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}
.style3 {
  top: calc(1 / 3 * 100%);
  --tw-translate-y: 0px;
  translate: var(--tw-translate-x) var(--tw-translate-y);
  overflow: hidden;
  border-radius: calc(var(--radius) * 1.4) !important;
  padding: 0px;
}
.style4 {
  padding: var(--spacing, 0.25rem);
  padding-bottom: 0px;
}
.style5 {
  height: calc(var(--spacing, 0.25rem) * 8) !important;
  border-radius: var(--radius) !important;
  border-color: var(--input);
  @supports (color: color-mix(in lab, red, red)) {
    border-color: color-mix(in oklab, var(--input) 30%, transparent);
  }
  background-color: var(--input);
  @supports (color: color-mix(in lab, red, red)) {
    background-color: color-mix(in oklab, var(--input) 30%, transparent);
  }
  --tw-shadow: 0 0 #0000 !important;
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow) !important;
  :is(& > *) {
    &[data-slot="input-group-addon"] {
      padding-left: calc(var(--spacing, 0.25rem) * 2) !important;
    }
  }
}
.style6 {
  width: 100%;
  font-size: var(--text-sm, 0.875rem);
  line-height: var(--tw-leading, var(--text-sm--line-height, calc(1.25 / 0.875)));
  --tw-outline-style: none;
  outline-style: none;
  @media (forced-colors: active) {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  &:disabled {
    cursor: not-allowed;
  }
  &:disabled {
    opacity: 50%;
  }
}
.style7 {
  width: calc(var(--spacing, 0.25rem) * 4);
  height: calc(var(--spacing, 0.25rem) * 4);
  flex-shrink: 0;
  opacity: 50%;
}
.style8 {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  max-height: calc(var(--spacing, 0.25rem) * 72);
  scroll-padding-block: var(--spacing, 0.25rem);
  overflow-x: hidden;
  overflow-y: auto;
  --tw-outline-style: none;
  outline-style: none;
}
.style9 {
  padding-block: calc(var(--spacing, 0.25rem) * 6);
  text-align: center;
  font-size: var(--text-sm, 0.875rem);
  line-height: var(--tw-leading, var(--text-sm--line-height, calc(1.25 / 0.875)));
}
.style10 {
  overflow: hidden;
  padding: var(--spacing, 0.25rem);
  color: var(--foreground);
  :is(& *) {
    &:is([cmdk-group-heading]) {
      padding-inline: calc(var(--spacing, 0.25rem) * 2);
    }
  }
  :is(& *) {
    &:is([cmdk-group-heading]) {
      padding-block: calc(var(--spacing, 0.25rem) * 1.5);
    }
  }
  :is(& *) {
    &:is([cmdk-group-heading]) {
      font-size: var(--text-xs, 0.75rem);
      line-height: var(--tw-leading, var(--text-xs--line-height, calc(1 / 0.75)));
    }
  }
  :is(& *) {
    &:is([cmdk-group-heading]) {
      --tw-font-weight: var(--font-weight-medium, 500);
      font-weight: var(--font-weight-medium, 500);
    }
  }
  :is(& *) {
    &:is([cmdk-group-heading]) {
      color: var(--muted-foreground);
    }
  }
}
.style11 {
  margin-inline: calc(var(--spacing, 0.25rem) * -1);
  height: 1px;
  background-color: var(--border);
}
.style12 {
  position: relative;
  display: flex;
  cursor: default;
  align-items: center;
  gap: calc(var(--spacing, 0.25rem) * 2);
  border-radius: calc(var(--radius) * 0.6);
  padding-inline: calc(var(--spacing, 0.25rem) * 2);
  padding-block: calc(var(--spacing, 0.25rem) * 1.5);
  font-size: var(--text-sm, 0.875rem);
  line-height: var(--tw-leading, var(--text-sm--line-height, calc(1.25 / 0.875)));
  --tw-outline-style: none;
  outline-style: none;
  @media (forced-colors: active) {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  -webkit-user-select: none;
  user-select: none;
  :where(*[data-slot="dialog-content"]) & {
    border-radius: var(--radius) !important;
  }
  &[data-disabled="true"] {
    pointer-events: none;
  }
  &[data-disabled="true"] {
    opacity: 50%;
  }
  &:where([data-selected="true"]) {
    background-color: var(--muted);
  }
  &:where([data-selected="true"]) {
    color: var(--foreground);
  }
  & svg {
    pointer-events: none;
  }
  & svg {
    flex-shrink: 0;
  }
  & svg:not([class*='size-']) {
    width: calc(var(--spacing, 0.25rem) * 4);
    height: calc(var(--spacing, 0.25rem) * 4);
  }
  &:where([data-selected="true"]) {
    :is(& > *) {
      &:is(svg) {
        color: var(--foreground);
      }
    }
  }
}
.style13 {
  margin-left: auto;
  opacity: 0%;
  &:is(:where(.group\/command-item):has(*[data-slot="command-shortcut"]) *) {
    display: none;
  }
  &:is(:where(.group\/command-item)[data-checked="true"] *) {
    opacity: 100%;
  }
}
.style14 {
  margin-left: auto;
  font-size: var(--text-xs, 0.75rem);
  line-height: var(--tw-leading, var(--text-xs--line-height, calc(1 / 0.75)));
  --tw-tracking: var(--tracking-widest, 0.1em);
  letter-spacing: var(--tracking-widest, 0.1em);
  color: var(--muted-foreground);
  &:is(:where(.group\/command-item):where([data-selected="true"]) *) {
    color: var(--foreground);
  }
}
@property --tw-translate-x {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}
@property --tw-translate-y {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}
@property --tw-translate-z {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}
@property --tw-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@property --tw-shadow-color {
  syntax: "*";
  inherits: false;
}
@property --tw-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}
@property --tw-inset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@property --tw-inset-shadow-color {
  syntax: "*";
  inherits: false;
}
@property --tw-inset-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}
@property --tw-ring-color {
  syntax: "*";
  inherits: false;
}
@property --tw-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@property --tw-inset-ring-color {
  syntax: "*";
  inherits: false;
}
@property --tw-inset-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@property --tw-ring-inset {
  syntax: "*";
  inherits: false;
}
@property --tw-ring-offset-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}
@property --tw-ring-offset-color {
  syntax: "*";
  inherits: false;
  initial-value: #fff;
}
@property --tw-ring-offset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@property --tw-font-weight {
  syntax: "*";
  inherits: false;
}
@property --tw-tracking {
  syntax: "*";
  inherits: false;
}
