.addon {
  display: flex;
  height: auto;
  cursor: text;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing, 0.25rem) * 2);
  padding-block: calc(var(--spacing, 0.25rem) * 1.5);
  font-size: var(--text-sm, 0.875rem);
  line-height: var(--tw-leading, var(--text-sm--line-height, calc(1.25 / 0.875)));
  --tw-font-weight: var(--font-weight-medium, 500);
  font-weight: var(--font-weight-medium, 500);
  color: var(--muted-foreground);
  -webkit-user-select: none;
  user-select: none;
  &:is(:where(.group\/input-group)[data-disabled="true"] *) {
    opacity: 50%;
  }
  &>kbd {
    border-radius: calc(var(--radius) - 5px);
  }
  &>svg:not([class*='size-']) {
    width: calc(var(--spacing, 0.25rem) * 4);
    height: calc(var(--spacing, 0.25rem) * 4);
  }
}
.inlineStart {
  order: -9999;
  padding-left: calc(var(--spacing, 0.25rem) * 2);
  &:has(>button) {
    margin-left: -0.3rem;
  }
  &:has(>kbd) {
    margin-left: -0.15rem;
  }
}
.inlineEnd {
  order: 9999;
  padding-right: calc(var(--spacing, 0.25rem) * 2);
  &:has(>button) {
    margin-right: -0.3rem;
  }
  &:has(>kbd) {
    margin-right: -0.15rem;
  }
}
.blockStart {
  order: -9999;
  width: 100%;
  justify-content: flex-start;
  padding-inline: calc(var(--spacing, 0.25rem) * 2.5);
  padding-top: calc(var(--spacing, 0.25rem) * 2);
  &:is(:where(.group\/input-group):has(>input) *) {
    padding-top: calc(var(--spacing, 0.25rem) * 2);
  }
  &:is(.border-b) {
    padding-bottom: calc(var(--spacing, 0.25rem) * 2);
  }
}
.blockEnd {
  order: 9999;
  width: 100%;
  justify-content: flex-start;
  padding-inline: calc(var(--spacing, 0.25rem) * 2.5);
  padding-bottom: calc(var(--spacing, 0.25rem) * 2);
  &:is(:where(.group\/input-group):has(>input) *) {
    padding-bottom: calc(var(--spacing, 0.25rem) * 2);
  }
  &:is(.border-t) {
    padding-top: calc(var(--spacing, 0.25rem) * 2);
  }
}
.button {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing, 0.25rem) * 2);
  font-size: var(--text-sm, 0.875rem);
  line-height: var(--tw-leading, var(--text-sm--line-height, calc(1.25 / 0.875)));
  --tw-shadow: 0 0 #0000;
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}
.buttonXs {
  height: calc(var(--spacing, 0.25rem) * 6);
  gap: var(--spacing, 0.25rem);
  border-radius: calc(var(--radius) - 3px);
  padding-inline: calc(var(--spacing, 0.25rem) * 1.5);
  &>svg:not([class*='size-']) {
    width: calc(var(--spacing, 0.25rem) * 3.5);
    height: calc(var(--spacing, 0.25rem) * 3.5);
  }
}
.buttonIconXs {
  width: calc(var(--spacing, 0.25rem) * 6);
  height: calc(var(--spacing, 0.25rem) * 6);
  border-radius: calc(var(--radius) - 3px);
  padding: 0px;
  &:has(>svg) {
    padding: 0px;
  }
}
.buttonIconSm {
  width: calc(var(--spacing, 0.25rem) * 8);
  height: calc(var(--spacing, 0.25rem) * 8);
  padding: 0px;
  &:has(>svg) {
    padding: 0px;
  }
}
.style1 {
  position: relative;
  display: flex;
  height: calc(var(--spacing, 0.25rem) * 8);
  width: 100%;
  min-width: 0px;
  align-items: center;
  border-radius: var(--radius);
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-color: var(--input);
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function, cubic-bezier(0.4, 0, 0.2, 1)));
  transition-duration: var(--tw-duration, var(--default-transition-duration, 150ms));
  --tw-outline-style: none;
  outline-style: none;
  :where(*[data-slot="combobox-content"]) & {
    &:focus-within {
      border-color: inherit;
    }
  }
  :where(*[data-slot="combobox-content"]) & {
    &:focus-within {
      --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
      box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }
  }
  &:has(*:disabled) {
    background-color: var(--input);
    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(in oklab, var(--input) 50%, transparent);
    }
  }
  &:has(*:disabled) {
    opacity: 50%;
  }
  &:has(*:is([data-slot=input-group-control]:focus-visible)) {
    border-color: var(--ring);
  }
  &:has(*:is([data-slot=input-group-control]:focus-visible)) {
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  &:has(*:is([data-slot=input-group-control]:focus-visible)) {
    --tw-ring-color: var(--ring);
    @supports (color: color-mix(in lab, red, red)) {
      --tw-ring-color: color-mix(in oklab, var(--ring) 50%, transparent);
    }
  }
  &:has(*:is([data-slot][aria-invalid=true])) {
    border-color: var(--destructive);
  }
  &:has(*:is([data-slot][aria-invalid=true])) {
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  &:has(*:is([data-slot][aria-invalid=true])) {
    --tw-ring-color: var(--destructive);
    @supports (color: color-mix(in lab, red, red)) {
      --tw-ring-color: color-mix(in oklab, var(--destructive) 20%, transparent);
    }
  }
  &:has(>[data-align=block-end]) {
    height: auto;
  }
  &:has(>[data-align=block-end]) {
    flex-direction: column;
  }
  &:has(>[data-align=block-start]) {
    height: auto;
  }
  &:has(>[data-align=block-start]) {
    flex-direction: column;
  }
  &:has(>textarea) {
    height: auto;
  }
  &:is(.dark *) {
    background-color: var(--input);
    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(in oklab, var(--input) 30%, transparent);
    }
  }
  &:is(.dark *) {
    &:has(*:disabled) {
      background-color: var(--input);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--input) 80%, transparent);
      }
    }
  }
  &:is(.dark *) {
    &:has(*:is([data-slot][aria-invalid=true])) {
      --tw-ring-color: var(--destructive);
      @supports (color: color-mix(in lab, red, red)) {
        --tw-ring-color: color-mix(in oklab, var(--destructive) 40%, transparent);
      }
    }
  }
  &:has(>[data-align=block-end]) {
    &>input {
      padding-top: calc(var(--spacing, 0.25rem) * 3);
    }
  }
  &:has(>[data-align=block-start]) {
    &>input {
      padding-bottom: calc(var(--spacing, 0.25rem) * 3);
    }
  }
  &:has(>[data-align=inline-end]) {
    &>input {
      padding-right: calc(var(--spacing, 0.25rem) * 1.5);
    }
  }
  &:has(>[data-align=inline-start]) {
    &>input {
      padding-left: calc(var(--spacing, 0.25rem) * 1.5);
    }
  }
}
.style2 {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing, 0.25rem) * 2);
  font-size: var(--text-sm, 0.875rem);
  line-height: var(--tw-leading, var(--text-sm--line-height, calc(1.25 / 0.875)));
  color: var(--muted-foreground);
  & svg {
    pointer-events: none;
  }
  & svg:not([class*='size-']) {
    width: calc(var(--spacing, 0.25rem) * 4);
    height: calc(var(--spacing, 0.25rem) * 4);
  }
}
.style3 {
  flex: 1;
  border-radius: 0;
  border-style: var(--tw-border-style);
  border-width: 0px;
  background-color: transparent;
  --tw-shadow: 0 0 #0000;
  --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  &:focus-visible {
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  &:disabled {
    background-color: transparent;
  }
  &[aria-invalid="true"] {
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  &:is(.dark *) {
    background-color: transparent;
  }
  &:is(.dark *) {
    &:disabled {
      background-color: transparent;
    }
  }
}
.style4 {
  flex: 1;
  resize: none;
  border-radius: 0;
  border-style: var(--tw-border-style);
  border-width: 0px;
  background-color: transparent;
  padding-block: calc(var(--spacing, 0.25rem) * 2);
  --tw-shadow: 0 0 #0000;
  --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  &:focus-visible {
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  &:disabled {
    background-color: transparent;
  }
  &[aria-invalid="true"] {
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  &:is(.dark *) {
    background-color: transparent;
  }
  &:is(.dark *) {
    &:disabled {
      background-color: transparent;
    }
  }
}
@property --tw-font-weight {
  syntax: "*";
  inherits: false;
}
@property --tw-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@property --tw-shadow-color {
  syntax: "*";
  inherits: false;
}
@property --tw-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}
@property --tw-inset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@property --tw-inset-shadow-color {
  syntax: "*";
  inherits: false;
}
@property --tw-inset-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}
@property --tw-ring-color {
  syntax: "*";
  inherits: false;
}
@property --tw-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@property --tw-inset-ring-color {
  syntax: "*";
  inherits: false;
}
@property --tw-inset-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@property --tw-ring-inset {
  syntax: "*";
  inherits: false;
}
@property --tw-ring-offset-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}
@property --tw-ring-offset-color {
  syntax: "*";
  inherits: false;
  initial-value: #fff;
}
@property --tw-ring-offset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}
