:where(.style1 > :not(:last-child)) {
  --tw-space-y-reverse: 0;
  margin-block-start: calc(calc(var(--spacing, 0.25rem) * 4) * var(--tw-space-y-reverse));
  margin-block-end: calc(calc(var(--spacing, 0.25rem) * 4) * calc(1 - var(--tw-space-y-reverse)));
}
.style1:disabled {
  opacity: 70%;
}
.style2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: calc(var(--spacing, 0.25rem) * 3);
}
.style3 {
  width: 100%;
}
.style4 {
  text-transform: capitalize;
}
:where(.style5 > :not(:last-child)) {
  --tw-space-y-reverse: 0;
  margin-block-start: calc(calc(var(--spacing, 0.25rem) * 1.5) * var(--tw-space-y-reverse));
  margin-block-end: calc(calc(var(--spacing, 0.25rem) * 1.5) * calc(1 - var(--tw-space-y-reverse)));
}
.style6 {
  display: flex;
  justify-content: space-between;
}
.style7 {
  font-size: var(--text-xs, 0.75rem);
  line-height: var(--tw-leading, var(--text-xs--line-height, calc(1 / 0.75)));
  color: var(--muted-foreground);
}
.style8 {
  font-size: var(--text-xs, 0.75rem);
  line-height: var(--tw-leading, var(--text-xs--line-height, calc(1 / 0.75)));
  color: var(--destructive);
}
@property --tw-space-y-reverse {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}
